$colorPrimario: #920707;
$colorSecundario: #3c3939;
$colorNegro: #000;
$colorBlanco: #fff;
$colorMandarina: rgb(255, 123, 0);
$colorPatito: #f3c12d;
$colorMonster: rgb(187, 225, 35);
$colorOceano: #202ba8;
$colorCielo: rgb(16, 100, 203);
